<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="width100">
  <div class="width50 ion-text-justify" style="padding-right: 10px;">
      <p>HP (Hewlett-Packard) is a leading American multinational computer system manufacturer in the world. They manufacturer printers, laptops, computers, servers, storage devices, networking, software, enterprise solutions and much more.</p>
      <p>Acer : Acer ranks among the world’s top five branded PC vendors. This Taiwan-based multinational computer technology and electronics corporation that manufactures desktop and laptop PCs, personal digital assistants (PDAs), servers, storage devices, displays, smartphones and peripherals and hardware.</p>
       <!-- <p>Dell : Dell is a American multinational information technology corporation. Thic company provides technology solutions, services and support. Dell manufacturers Laptops, Netbooks, Tablet PCs, Desktops, Monitors, Servers, Storage and other computer-relater hardware.</p> -->
    </div>
    <div class="width50">
      <!-- <ion-img [src]="/assest/hp.png"></ion-img> -->
      <img src="/assets/photo1.jpg" alt="">
    </div>
</div>
<hr style="border-bottom: 4px solid black;">
<div class="width100">
    <div class="width50" style="padding-right: 10px;">
        <!-- <ion-img [src]="/assest/hp.png"></ion-img> -->
        <img src="/assets/photo2.jpg" alt="">
      </div>
    <div class="width50 ion-text-justify">
        <p>HP (Hewlett-Packard) is a leading American multinational computer system manufacturer in the world. They manufacturer printers, laptops, computers, servers, storage devices, networking, software, enterprise solutions and much more.</p>
        <p>Acer : Acer ranks among the world’s top five branded PC vendors. This Taiwan-based multinational computer technology and electronics corporation that manufactures desktop and laptop PCs, personal digital assistants (PDAs), servers, storage devices, displays, smartphones and peripherals and hardware.</p>
         <!-- <p>Dell : Dell is a American multinational information technology corporation. Thic company provides technology solutions, services and support. Dell manufacturers Laptops, Netbooks, Tablet PCs, Desktops, Monitors, Servers, Storage and other computer-relater hardware.</p> -->
      </div>
  </div>
</ion-content>
