<ion-tabs>
    <!-- <ion-tab label="Home" icon="home" href="/tabs/(home:home)">
      <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab> -->
  <ion-tab-bar slot="top" color="danger">
      <ion-tab-button tab="Home">
          <ion-icon name="Home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="About">
            <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
            <ion-label>About</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="Connect">
              <ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>
              <ion-label>Connect</ion-label>
            </ion-tab-button>
              <ion-tab-button tab="Home" size="20">
                  <ion-input type="search" placeholder="Enter Input"><ion-icon ios="ios-search" md="md-search"></ion-icon></ion-input>
                </ion-tab-button>
        
  </ion-tab-bar>
  <ion-tab-bar slot="bottom" color="danger">
      <ion-tab-button (click)="Facebook()">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-label>Facebook</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="Instagram()">
            <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>
            <ion-label>Instagram</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="Twitter()">
              <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
              <ion-label>Twitter</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="Email()">
                <ion-icon ios="ios-mail" name="md-mail"></ion-icon>
                <ion-label>Email</ion-label>
              </ion-tab-button>        
  </ion-tab-bar>

</ion-tabs>
