<ion-header>
  <ion-toolbar>
    <ion-title>Connect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>Email:Hello@gmail.com</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Phone:+972000000000</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Faceboock:Project1</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Instagram:Project1</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Twitter:Project1</ion-label>
        </ion-item>
      </ion-list>
</ion-content>
