
ion-grid{
	margin:10%;
	width:80%; 
	border:5px solid white;
	outline-style: outset;
	outline:10px solid rgb(80, 88, 97);;
}
ion-button{
	margin-top: 50%;
	width: 100%;
	height: 40px;
	font-size: 10px;
	
}
a{
	
	text-decoration: none;
	font-size: 30px;
	padding-bottom: 20px;
}
.imges{
	border-radius: 100%;
	height: 50px;
	width: 50px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.border{
	color:black;
	border-left: 5px solid rgb(80, 88, 97);;
}
ion-col{
	padding-left:20px ;
}