<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
    	Welcome 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<img>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
</ion-fab>
	<ion-item>
    <ion-label>Item 1</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item 2</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item 3</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item 4</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item 5</ion-label>
  </ion-item>
</ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-title>&copy;Mohammad Taher Qawasmeh</ion-title>
    </ion-toolbar>
  </ion-footer>



 <ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-start">
        <h3>text-start</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
      </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-end">
        <h3>text-end</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
      </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-center">
        <h3>text-center</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="ion-text-justify">
        <h3>text-justify</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
      </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-wrap">
        <h3>text-wrap</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
      </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-nowrap">
        <h3>text-nowrap</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </ion-col>
  </ion-row>
</ion-grid> -->
<ion-content>
    
</ion-content>
<body>
<ion-grid>
  <ion-row style="border-bottom: 5px solid rgb(80, 88, 97);">
    <ion-col size="4">
        <ion-button path="tab1" shape="round" color="danger" fill="outline">
          TEST
        </ion-button>
      <h1>Name</h1>
    <!-- <ion-button color="danger"><a href="https://www.google.com"><img class="imges" src="/assets/icon/google.jpg" alt="google" />google</a></ion-button> -->
  </ion-col>
  <ion-col size="3" class="border">
      <!-- <ion-button><a href="https://www.facebook.com/"> <img class="imges" src="/assets/icon/facebook.png" alt="" />facebook</a></ion-button> -->
      <h1>Age</h1>
    </ion-col>
    <ion-col size="4" class="border"> 
      <h1>link Feacbock</h1>   
         <!-- <ion-button color="success"><a herf="https://www.instagram.com"><img class="imges" src="/assets/icon/instagram.jpg" alt="" /> instagram</a></ion-button> -->
    </ion-col>
</ion-row>
<ion-row>
    <ion-col size="4">
        <h1>Mohammad Qawasmeh</h1>
      <!-- <ion-button color="danger"><a href="https://www.google.com"><img class="imges" src="/assets/icon/google.jpg" alt="google" />google</a></ion-button> -->
    </ion-col>
    <ion-col size="3" class="border">
        <!-- <ion-button><a href="https://www.facebook.com/"> <img class="imges" src="/assets/icon/facebook.png" alt="" />facebook</a></ion-button> -->
        <h1>21</h1>
      </ion-col>
      <ion-col size="4" class="border">  
          <a href="https://www.facebook.com/mohammad.qawasmeh.58">mohammad.qawasmeh.58</a>   
           <!-- <ion-button color="success"><a herf="https://www.instagram.com"><img class="imges" src="/assets/icon/instagram.jpg" alt="" /> instagram</a></ion-button> -->
      </ion-col>
</ion-row>
<ion-row>
    <ion-col size="4">
        <h1>Mohammad imwas</h1>
      <!-- <ion-button color="danger"><a href="https://www.google.com"><img class="imges" src="/assets/icon/google.jpg" alt="google" />google</a></ion-button> -->
    </ion-col>
    <ion-col size="3" class="border">
        <!-- <ion-button><a href="https://www.facebook.com/"> <img class="imges" src="/assets/icon/facebook.png" alt="" />facebook</a></ion-button> -->
        <h1>22</h1>
      </ion-col>
      <ion-col size="4" class="border"> 
          <a href="https://www.facebook.com/mohammed.almnasrh">mohammed.almnasrh</a>   
           <!-- <ion-button color="success"><a herf="https://www.instagram.com"><img class="imges" src="/assets/icon/instagram.jpg" alt="" /> instagram</a></ion-button> -->
      </ion-col>
</ion-row>
<ion-row>
  
</ion-row>
</ion-grid>
 
</body>