
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding width-100>
      <ion-list>
          <ion-item>
            <ion-label><h1>Facebook</h1></ion-label>
            <ion-badge width-100  color="primary" slot="end">10M</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label><h1>Instagram</h1></ion-label>
            <ion-badge color="secondary" slot="end">5M</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label><h1>Email</h1></ion-label>
            <ion-badge color="tertiary" slot="end">33M</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label><h1>Twitter</h1></ion-label>
            <ion-badge color="success" slot="end">8M</ion-badge>
          </ion-item>
        </ion-list>
  </ion-content>